@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&display=swap'); 
html{
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'IBM Plex Mono', monospace;
}


body{
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

script{
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}


.whitebg{
	position: relative;
	left: 500px;
	top: 100px;
}



.musiclogo{
	overflow: hidden;
    margin: 0 auto;
    position: absolute;
    left: 520px;
    top: 120px;

}
.musiclogo:hover img {
            transform: scale(1.2);
        }

.musiclogo img{

	transition: 0.5s all ease-in-out;

}

mn{
	position: absolute;
	left: 522px;
	top: 380px;
}

.playbutton{
	position: absolute;
	left: 610px;
}


.skipforward{
	position: absolute;
	left: 680px;
}

.skipbackward{
	position: absolute;
	left: 540px;
}
.pause{
  content:url("assets/pause.svg");
  
